<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Course</title>
</head>
<body>
    <form action="/courses/add" method="POST">
        <input hidden type="text" id="courseId" name="courseId" th:value="${course!=null} ? ${course.courseId} : null">
        <label for="name">Ime: </label>
        <input
                type="text"
                id="name"
                name="name"
                th:value="${course != null} ? ${course.name} : ''"
                placeholder="Enter course name"/>
            <br />
        <label for="description">Opis: </label>
        <input
                type="text"
                id="description"
                name="description"
                th:value="${course != null} ? ${course.description} : ''"
                placeholder="Enter course description"/>
            <br />
        <label for="teacher">Profesor: </label>
        <select name="teacher" id="teacher">
            <option
                    th:if="${course} != null"
                    th:selected="${course.teacher != null && course.teacher.id == teacher.id}"
                    th:each="teacher: ${teachers}"
                    th:text="${teacher.name} + ' ' + ${teacher.surname}"
                    th:value="${teacher.id}">
            </option>
            <option
                    th:if="${course} == null"
                    th:each="teacher: ${teachers}"
                    th:text="${teacher.name} + ' ' + ${teacher.surname}"
                    th:value="${teacher.id}">
            </option>
        </select>
        <br/>
        <input class="submit" type="submit">
    </form>
</body>
</html>