<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit grade</title>
</head>
<body>
    <form action="/edit-grade" method="POST">
        <input hidden name="gradeId" th:value="${grade.id}" />
        <input hidden name="username" th:value="${grade.student.username}" />
        <input hidden name="courseId" th:value="${grade.course.courseId}" />
        <h4>Student:</h4>
        <div th:text="${grade.student.name + ' ' + grade.student.surname}"></div>   <br />
        <h4>Course:</h4>
        <div th:text="${grade.course.name}"></div>   <br />
        <label for="grade">Grade</label>
        <input type="text" id="grade" name="grade" th:value="${grade.grade}"/>   <br /><br />

        <button type="submit">Submit</button>
    </form>
</body>
</html>