<!DOCTYPE html >
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grades</title>
</head>
<body>
    <form action="/grades" method="POST">
        <select name="courseId" id="courseId">
            <option th:each="course : ${courses}" th:text="${course.name}" th:value="${course.courseId}"></option>
        </select>
        <button>Submit</button>
    </form>
    <div th:if="${grades!=null}">
        <p th:each="grade : ${grades}" th:text ="${grade.student.name} + ' ' + ${grade.student.surname} + ' ' + ${grade.grade}" ></p>
    </div>

    <form action="/grades" method="POST">
        <select name="username" id="username">
            <option th:each="student : ${students}" th:text="${student.name}" th:value="${student.username}"></option>
        </select>
        <button>Submit</button>
    </form>
    <div th:if="${grades1!=null}">
        <p th:each="grade : ${grades1}" th:text ="${grade.student.name} + ' ' + ${grade.student.surname} + ' ' + ${grade.course.name} + ' ' + ${grade.grade}" ></p>
    </div>
</body>
</html>