<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Welcome and Choose a Course</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
</head>
<body>
<header>
    <h1>Courses List</h1>
</header>
<main>
    <div th:if="hasError">
        <h3 style="color: red" th:text="${error}"></h3>
    </div>
    <h2>Choose course:</h2>
    <table>
        <tr th:each="course : ${courses}">
            <td>
                <input form="form1" type="radio" name="courseId" th:value="${course.getCourseId()}" th:text="${course.name}">
            </td>
            <td>
                <a th:href="@{'/courses/edit-form/{id}' (id=${course.courseId})}" sec:authorize="hasRole('ROLE_ADMIN')" class="edit">Edit</a>
            </td>
            <td>
                <form th:action="@{'/courses/delete/{id}' (id=${course.courseId})}" th:method="DELETE" sec:authorize="hasRole('ROLE_ADMIN')" class="delete">
                    <button>Delete</button>
                </form>
            </td>
        </tr>
    </table>
    <br/>
    <form id="form1" th:method="POST" th:action="@{/courses}">
        <input type="submit" value="Submit">
    </form>
    <div>
        <a href="/courses/add-form" sec:authorize="hasRole('ROLE_ADMIN')" class="add">Add course</a>
    </div>
    <div sec:authorize="!isAuthenticated()">
        <a href="/login">Login</a>
    </div>
</main>
</body>
</html>