<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Add new Student to Course</title>
    <style type = "text/css">
        body {
            width: 800px;
            margin: auto;
        }
        table {
            width:100%;
        }
        table, td, th {
            border: 1px solid black;
            padding:3px 2px;
        }
        section {
            float: left;
            margin: 0 1.5%;
            width: 63%;
        }
        aside {
            float: right;
            margin: 0 1.5%;
            width: 30%;
        }
    </style>
</head>
<body>
<header>
    <h1>Student Enrollment - Select the Student </h1>
</header>
<section>
    <h2>Select the student to enroll:</h2>
    <a href='/createStudent' sec:authorize="hasRole('ROLE_ADMIN')">Create New Student</a> <br/> <br/>
    <form th:method="GET" th:action="@{/StudentEnrollmentSummary}">
        <div th:each="student : ${students}">
            <input type="radio" name="size" th:value="${student.username}" th:text="${student.name+ ' ' + student.surname}"> <br/>
        </div>
        <br/>
        <input type="Submit">
    </form>
</section>
<aside>
    <table>
        <tr>
            <th colspan="2">
                Your Enrollment Status
            </th>
        </tr>
        <tr>
            <td><b>Course Id</b></td>
            <td th:text="${session.courseId}"></td>
        </tr>
    </table>
</aside>

</body>
</html>