<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Student Courses</title>
</head>
<body>
<form th:if="${students!=null}" th:method="POST" th:action="@{/studentCourses}">
    <div th:each="student : ${students}">
        <input type="radio" id="studentUsername" name="studentUsername" th:value="${student.getUsername()}" th:text="${student.name + ' ' + student.surname}" />
    </div>
    <input type="submit" value="Submit" />
</form>

<<div th:if="${student!=null}">
    <h1>Student : </h1><div th:text="${student.getName() + ' ' + student.getSurname()}"></div>
    <ul th:each="course: ${courses}">
        <li th:text="${course.getName()}"></li>
    </ul>
</div>

</body>
</html>