<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml" lang="mk">
<head>
    <meta charset="utf-8">
    <title>WP lab - Students in Course</title>

</head>
<body>
<header>
    <h1>Students in Course </h1>
</header>
<section>
    <!--<div th:each="course : ${courses}">
        <div th:text="${course.name}"></div>
        <ul>
            <li th:each="student : ${course.students}" th:text="${student.name + ' ' + student.surname + ' (' + student.username + ')'}"></li>
        </ul>
    </div>-->

    <table>
        <thead>
            <tr>
                <th th:text="${course.name}"></th>
            </tr>
            <tr>
                <th>Student</th>
                <th>Grade</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${course.students}">
            <td th:text="${student.name + ' ' + student.surname + ' (' + student.username + ')'}"></td>
            <td th:text="${grades.get(student.username) != null } ? ${grades.get(student.username)} : 'No Grade' ">
            </td>
            <td>
                <form action="/edit-grade" method="GET">
                    <input type="text" th:value="${student.username}" name="username" hidden />
                    <input type="text" th:value="${course.courseId}" name="courseId" hidden />
                    <input type="text" th:value="${grades.get(student.username)}" name="gradeCharacter" hidden />
                    <input type="submit" value="Edit grade" sec:authorize="hasRole('ROLE_ADMIN')" />
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/courses">Back</a> <br />
    <a href="/logout" sec:authorize="isAuthenticated()">Logout</a>
</section>
</body>
</html>